* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: url(image/taski.jpg);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
#text-sec {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
}
#entered-task {
    width: 40vw;
    height: 50px;
    padding: 20px;
    border: none;
    border-radius: 30px;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.7);
    
}
.add-task {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    border: none;
    color: green;
    margin-left: 15px ;
    font-size: 20px;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.7);
    cursor: pointer;
}
.add-task:hover {
    background-color: green;
    color: #fff;
}

#tasks-container {
    text-align: center;
    height: 70vh;
}


.task-box {
    height: 80px;
    width: 300px;
    background-color: #f3f3f3;
    border-radius: 15px;
    box-shadow: 1px 1px 5px;
    display: flex;
    justify-content: center;
    margin: 15px  auto;
    padding-top: 20px;
    
}
.task-box input {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: #fff;
    flex: 5;
    align-self: center;
    font-size: 17px;
    text-align: center;
    margin-right: 10px;
    border: 2px solid gray;
}
.task-text li {
    text-align: center;
    cursor: pointer;
}

.task-box button {
    flex: 1;
    width: 50px;
    height: 40px;
    border-radius: 20px;
    border: none;
    margin-left: 5px ;
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: #fff;
    
}
.check-btn {
    align-self:baseline;
    color: orange;
    border: 1px solid orange;
}
.check-btn:hover {
    color: #f3f3f3;
    background-color: orange;
}
.delete-btn {
    align-self:baseline;
    color: red;
    border: 1px solid red;
}
.delete-btn:hover {
    color: #f3f3f3;
    background-color: red;
}